@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#money{
    position:absolute;
    left:300px;
    top:20px;
    width:350px;
    height:70px;
    font-size:50px;
    background-color:grey;
    border-radius: 35px;
}
body{
    margin:10px 5px 10px 5px;
    padding:10px 5px 10px 5px;
    font-family: 'Open Sans', sans-serif;
}
button{
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
input{
    font-family: 'Open Sans', sans-serif;
}
div{
    font-family: 'Open Sans', sans-serif;
}
.navigator-btn-up{
    font-size:50px;
    background-color:lightgrey;
    border-style:none;
    border-radius: 50%;
    background-image: url('/btn_up');
}
.navigator-value{
    font-size:50px;
    background-color:lightgrey;
    border-style:none;
    border-radius: 50%;
}
.navigator-btn-down{
    font-size:50px;
    background-color:lightgrey;
    border-style:none;
    border-radius: 50%;
    background-image: url('/btn_down');
}
.keyBoard{
    background-color: gray;
    border-style: solid;
    border-color: black;
}
.btn-char{
    width:50px;
    height:50px;
    position:relative;
    color:black;
    font-size:40px;
    background-color:lightgrey;
    border-style:none;
}
.btn-question{
    width:150px;
    height:150px;
    position:absolute;
    border:none;
    color:black;
    background-color:rgba(0,0,0,0);
    background-image:url(/sv);
    background-size:100% 100%;
    background-repeat:no-repeat;
    transition:1s;
}
.planet{
    position:relative;
    width:120px;
    height:120px;
    left:20px;
    top:20px;
    border-radius:50%;
    background-color: red;
    color:white;
    font-size:24px;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.column{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.center{
    justify-content: center;
    align-items: center;
}
.halfH{
    height:50%;
}
#playersLobi{
    width:100%;
    height:100%;
    /* background-color: yellow; */
}
.full_s{
    width:100%;
    height:100%;
}
#start{
    font-size:2rem;
}

.buttonArrow{
    font-size: 40px;
    min-width:60px;
    background-color:rgba(0,0,0,0);
    background-image:url('/arrowRight');
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
    border:none; 
}
.rotate90{
    transform: rotate(180deg);
}
.setAvatar{
    background-size: auto 100%; 
    background-color: rgb(244, 239, 236); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-image: url('/avatar_1'); 
    min-height: 300px;
    min-width: 300px; 
    min-height:300px; 
    max-height:300px;
    border-radius: 50%;
}
.back{
    background-color:white; 
    border-radius:50%; 
    background-position:center; 
    background-size:100% 100%; 
    background-image:url('/back'); 
    width:60px; 
    height:60px; 
    position:fixed; 
    left:10px; 
    bottom:10px;
}

.createUser{
    font-size: 40px; 
    width:250px; 
    height:60px;
    border-radius:30px;
    background-color:rgb(244, 239, 236);
    border-width: none;
    margin-top:5px;
}
.inputUserName{
    font-size: 40px; 
    width:350px; 
    height:60px;
    border-radius: 30px;
    padding-left:10px;
    padding-right: 10px;
}

#Pavatar{

    position:fixed;
    background-color:f4efec;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:auto 100%;
    width:150px;
    height:150px;
    border-radius: 75px;
}
#Pname{
    position:fixed;
    width:150px;
    height:20px;
    top:200px;
    background-color:rgba(0,0,0,0);
    border:none;
    color:f4efec;
}

.createCommand{
    position:absolute;
    right:0;
    top:0;
    width:180px;
    height:60px;
    border-radius:30px;
    font-size:28px;
    background-color:rgb(244, 239, 236);
    border:none;
}
.commandName{
    position:absolute;
    left:0;
    top:0;
    width:calc(100% - 200px);
    height:60px;
    padding-left:10px;
    padding-right:10px;
    border-radius:30px;
    font-size:50px;
}
.createCommandGroup{
    position:fixed;
    width:80%;
    height:60px;
    top:10px;
    right:10px;
}

.commandList{
    width:80%;
    bottom:10px;
}
.add{
    width:60px;
    height:60px;
    margin-left:20px;
    font-size:30px;
    border-radius:30px;
    background-color:rgb(244, 239, 236);
}
.commandLine{
    border-radius:30px;
    background-color:rgb(244, 239, 236);
}
.btn-start{
    left: calc(50% - 90px);
    position: absolute;
    border-radius: 30px;
    height: 60px;
    width: 180px;
    top: 60%;
}
#playersLobi{
    position:absolute;
    top:10px;
    left:calc(50% - 450px);
        
}